.order-div {
    background-color: #e6e6e6;
    margin: 20px;
    padding: 10px;
    display: inline-block;
    box-shadow: 5px 5px 5px #888888;
}

.customer-details p {
    margin: 0;
}

.x {
    text-align: center;
    margin: 0 auto;
}