<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inventory</title>
    {% load static %}

    {% include 'bootstrap.html' %}
    {% include 'core/navbar.html' %}

    <script src="{% static 'js/base_inventory.js' %}"></script>
</head>
<body>
    <div class="container" style="margin-top: 100px;">
        <div class="row">
            <div class="col-sm-3">
                <h1 class="mt-3">Inventory</h1>
            </div>

                <div class="col-sm-3 mt-4">
                    <button class="btn btn-primary"><a href="{% url 'inventory:request-inventory' %}">Request Inventory from Supplier</a></button>
                </div>
                <div class="col-sm-3 mt-4">
                    <button type="button" class="btn btn-secondary"><a href="{% url 'inventory:view-all-po' %}">View Purchase Orders / Confirm Product Retrieval</a></button>
                </div>
        </div>
        {% include 'core/success_message.html' %}
        {% if messages %}
            <div class="alert alert-success">
                <strong>{{ messages }}</strong>
            </div>
        {% endif %}
        {% if not products %}
                <p>There are no products yet</p>
            {% else %}
            <div class="row">
                <div class="col-sm-12">
                    <div class="input-group mt-3 mb-3">
                      <span class="input-group-addon" id="basic-addon1">Search</span>
                      <input type="text" class="form-control" placeholder="Search for anything related to products" aria-label="Search" aria-describedby="basic-addon1">
                    </div>
                </div>
            </div>
                <table class="table table-inverse">
                <thead class="thead-dark">
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Category</th>
                    <th>Supplier</th>
                    <th>Quantity in stock</th>
                    <th class="text-center">Unit Cost</th>
                    <th class="text-center">Selling Cost</th>

                </tr>
                </thead>
                <tbody>
                {% for product in products %}
                    <tr>
                        <td>{{ product.name }}</td>
                        <td>{{ product.description }}</td>
                        <td>{{ product.category }}</td>
                        <td>
                            {% for x in product.supplier.all %}
                                {{ x.name }}
                            {% endfor %}
                        </td>
                        <td>{{ product.quantity_in_stock }}</td>
                        <td class="text-right">{{ product.unit_cost }}</td>
                        <td class="text-right">{{ product.selling_price }}</td>
                    </tr>
                {% endfor %}
                </tbody>
                </table>
        {% endif %}
          <!-- Modal -->
          <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Purchase Orders</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                  <table class="table table-inverse">
                        <thead class="thead-dark">
                            <tr><th>Purchase Order</th>
                            <th>Supplier</th>
                            <th>View</th>
                            </tr>

                        </thead>
                        <tbody>
                        {% for purchase_order in purchase_orders %}
                            <tr>
                                <td>{{ purchase_order.number }}</td>
                                <td>{{ purchase_order.supplier.name }}</td>
                                <td><a href="{% url 'inventory:view-po' purchase_order.id %}"><button type="button" class="btn btn-primary" id="view_po">View</button></a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                  </table>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
    </div>
    <script>
        $(document).ready(function() {
            $(".navbar-mine").children("li").each(function() {
                $(this).removeClass("active");
            });

            $("li.inventory").addClass("active");
        });
    </script>
</body>

</html>