<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Request Inventory</title>
    {% load static %}
    {% include 'bootstrap.html' %}
    {% include 'core/navbar.html' %}
</head>
<body>
    <div class="container-fluid" style="margin-top: 100px;">
        <div class="col-md-10">
                <h1 class="display-4">{{ order.customer.company_name }}</h1>
        </div>
        <div class="col-md-10">
                <h1 class="display-10">Choose products to be requested from supplier</h1>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="input-group mt-3 mb-3">
                  <span class="input-group-addon" id="basic-addon1">Search</span>
                  <input type="text" class="form-control" placeholder="Search for anything related to orders" aria-label="Search" aria-describedby="basic-addon1">
                </div>
            </div>
        </div>


        {% if messages  %}
            <div class="alert alert-success">
                {% for message in messages %}
                    <strong>{{ message }}</strong>
                {% endfor %}
            </div>
        {% endif %}
                <table class="table table-inverse">
                <thead class="thead-dark">
                <tr>
                    <th><div class="checkbox"><input type="checkbox" value="" name="checkall"></div></th>
                    <th class="text-center">Name</th>
                    <th class="text-center">Description</th>
                    <th class="text-center">Category</th>
                    <th class="text-center">Supplier</th>
                    <th class="text-center">Quantity in stock</th>
                    <th class="text-center">Quantity required</th>
                    <th class="text-center">Unit Cost</th>
                    <th class="text-center">Status</th>

                </tr>
                </thead>
                <!-- TODO GENERATE LIST OF PRODUCTS OF AN ORDER -->
                <tbody>
                    {% for orderline in orderlines %}
                        <tr>
                            <th><div class="checkbox"><input type="checkbox" value="{{ orderline.product.id }}" name="{{ orderline.product.id }}"></div></th>
                            <td>{{ orderline.product.name }}</td>
                            <td>{{ orderline.product.description }}</td>
                            <td>{{ orderline.product.category }}</td>
                            <td>
                                {% for x in orderline.product.supplier.all %}
                                    {{ x.name }}
                                {% endfor %}
                            </td>
                            <td class="text-center" id="qty_in_stock">{{ orderline.product.quantity_in_stock }}</td>
                            <td class="center" id="qty_required">{{ orderline.quantity }}</td>
                            <td class="center">{{ orderline.product.unit_cost }}</td>
                            <td class="text-center"><img src="{% static 'images/red-cross.svg' %}" height="20px"></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
        <div class="row">
            <div class="col-sm-4 mt-4">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal">
                    Request Products
                </button>
            </div>
        </div>
    </div>
    <div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Purchase Orders</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <!-- TODO IMPLEMENT AJAX HERE FOR REPORT GENERATION -->
          <table class="table table-inverse">
                <thead class="thead-dark">
                <tr>
                    <th class="text-center">P.O. Number</th>
                    <th class="text-center">Supplier</th>
                    <th class="text-center">View</th>
                    <th class="text-center">Print</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="text-center">PO-00001</th>
                        <td class="text-center">Rukus</td>
                        <!-- TODO VIEW OF P.O. -->
                        <td class="text-center"><button type="button" class="btn btn-primary">View</button></td>
                        <!-- TODO PRINT OF P.O. -->
                        <td class="text-center"><button type="button" class="btn btn-secondary">Print</button></td>
                    </tr>
                    <tr>
                        <th class="text-center">PO-00002</th>
                        <td class="text-center">HP</td>
                        <td class="text-center"><button type="button" class="btn btn-primary">View</button></td>
                        <td class="text-center"><button type="button" class="btn btn-secondary">Print</button></td>
                    </tr>
                </tbody>
          </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

    <script>
        $(document).ready(function() {
            $(".navbar-mine").children("li").each(function() {
                $(this).removeClass("active");
            });

            $("li.inventory").addClass("active");
        });
    </script>
</body>
</html>