<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Request Inventory</title>
    {% load static %}
    {% include 'bootstrap.html' %}
    {% include 'core/navbar.html' %}
     <script src="{% static 'js/base_inventory.js' %}"></script>
    <script src="{% static 'js/request_inventory.js' %}"></script>
</head>
<body>
        <div class="container-fluid" style="margin-top: 100px;">
            <div class="col-md-10">
                    <h1 class="display-10">Choose products to be requested from supplier</h1>
            </div>
            <div class="form-group">
                <select class="form-control" id="selectBox" onchange="changeFunc()">
                    <option value='selectsupplier'>Select a supplier</option>
                    {% for supplier in suppliers %}
                        <option value='{{ supplier.name }}'>{{ supplier.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="input-group mt-3 mb-3">
                      <span class="input-group-addon" id="basic-addon1">Search</span>
                      <input type="text" class="form-control" placeholder="Search for anything related to products" aria-label="Search" aria-describedby="basic-addon1">
                    </div>
                </div>
            </div>


            {% if messages  %}
                <div class="alert alert-success">
                    {% for message in messages %}
                        <strong>{{ message }}</strong>
                    {% endfor %}
                </div>
            {% endif %}
                    <table class="table table-inverse" id="table">
                    <thead class="thead-dark">
                    <tr>
                        <th class="text-center">Name</th>
                        <th class="text-center">Description</th>
                        <th class="text-center">Category</th>
                        <th class="text-center">Quantity in stock</th>
                        <th class="text-center">Unit Cost</th>
                        <th class="text-center">Quantity needed</th>

                    </tr>
                    </thead>
                    <!-- TODO GENERATE LIST OF PRODUCTS -->
                    <tbody id="context">


                    </tbody>
                    </table>
            <div class="row">
                <div class="col-sm-4 mt-4">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal" id="btn_request">
                        Request Products
                    </button>
                </div>
            </div>
        </div>

    <!-- TODO IMPLEMENT AJAX HERE TO SHOW LIST OF PRODUCTS OF A SPECIFIC SUPPLIER -->
</body>
</html>