<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>

    {% load static %}

    {% include 'bootstrap.html' %}
    {% include 'core/navbar.html' %}

    <script src="{% static '/js/general.js' %}"></script>
    <link rel="stylesheet" href="{% static '/css/home.css' %}">

</head>
<body>
    <div class="container" style="margin-top: 100px;">
        {% if user_type != 'ADMIN' %}
        <a href="{% url 'orders:index' %}">
            <div class="main-menu">
                <p>Orders</p>
            </div>
        </a>
        {% endif %}
        <a href="{% url 'core:add_user' %}">
            <div class="main-menu">
                <p>Users</p>
            </div>
        </a>
        {% if user_type == 'INVENTORY' or user_type == 'PROCUREMENT' %}
        <a href="{% url 'products:index' %}">
            <div class="main-menu">
                <p>Products</p>
            </div>
        </a>
        {% endif %}
        {% if user_type == 'INVENTORY' or user_type == 'PROCUREMENT' %}
        <a href="{% url 'inventory:index' %}">
            <div class="main-menu">
                <p>Inventory</p>
            </div>
        </a>
        {% endif %}
        {% if user_type == 'ADMIN' or user_type == 'Admin' %}
            <a href="{% url 'schedule:index' %}">
                <div class="main-menu">
                    <p>Schedules</p>
                </div>
            </a>
        {% endif %}
    </div>
</body>
</html>