<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>

    {% load static %}
    {% include 'bootstrap.html' %}
    {% include 'core/navbar.html' %}
</head>
<body>
    <div class="container" style="margin-top: 100px">
        <div class="row">
            <div class="col-md-10">
                <h3>Home - My schedules</h3>
            </div>
            <div class="col-md-2">
                {% if user_type != 'ADMIN' %}
                <a href="{% url 'orders:index' %}">
                   <button class="btn btn-success btn-block">Orders</button>
                </a>
                {% endif %}
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-4">
                <h5>On going</h5>
                {% if on_going == 0 %}
                    <p class="text-dark">You do not have schedules that are on-going as of the moment</p>
                {% else %}
                    <ul class="list-group mt-4">
                    {% for schedule in my_schedules %}
                        {% if schedule.is_on_going %}
                        <li class="list-group-item">
                            <div>
                                <strong>{{ schedule.name }}</strong>
                            </div>
                            <div>
                                Start date: {{ schedule.start_date }}
                            </div>
                            <div>
                                End date: {{ schedule.end_date }}
                            </div>
                            <div>
                                {% if schedule.is_completed %}
                                    <strong class="text-success"><em>Completed!</em></strong>
                                {% else %}
                                    <strong class="text-danger"><em>Not completed!</em></strong>
                                {% endif %}
                            </div>
                        </li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                {% endif %}
            </div>

            <div class="col-md-4">
                <h5>Coming up</h5>
                {% if coming_up == 0 %}
                    <em class="text-dark mt-4">You do not have schedules that are coming-up as of the moment</em>
                {% else %}
                    <ul class="list-group mt-4">
                    {% for schedule in my_schedules %}
                        {% if schedule.is_coming_up %}
                        <li class="list-group-item">
                            <div>
                                <strong>{{ schedule.name }}</strong>
                            </div>
                            <div>
                                Start date: {{ schedule.start_date }}
                            </div>
                            <div>
                                End date: {{ schedule.end_date }}
                            </div>
                            <div>
                                {% if schedule.is_completed %}
                                    <strong class="text-success"><em>Completed!</em></strong>
                                {% else %}
                                    <strong class="text-danger"><em>Not completed!</em></strong>
                                {% endif %}
                            </div>
                        </li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                {% endif %}
            </div>

            <div class="col-md-4">
                <h5>Past schedules</h5>
                {% if on_going == 0 %}
                    <p class="text-dark">You do not have past schedules</p>
                {% else %}
                    <ul class="list-group mt-4">
                    {% for schedule in my_schedules %}
                        {% if schedule.is_on_going %}
                        <li class="list-group-item">
                            <div>
                                <strong>{{ schedule.name }}</strong>
                            </div>
                            <div>
                                Start date: {{ schedule.start_date }}
                            </div>
                            <div>
                                End date: {{ schedule.end_date }}
                            </div>
                            <div>
                                {% if schedule.is_completed %}
                                    <strong class="text-success"><em>Completed!</em></strong>
                                {% else %}
                                    <strong class="text-danger"><em>Not completed!</em></strong>
                                {% endif %}
                            </div>
                        </li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
</body>
</html>