<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order {{ order.id }} - Maintenance</title>

    {% load static %}
    {% include 'bootstrap.html' %}
    {% include 'core/navbar.html' %}

    <script src="{% static 'js/base_orders.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/orders.css' %}">

    <style>
        .ticket {
            padding: 20px;
        }
</style>
</head>
<body>
    <div class="container" style="margin-top: 100px;">
        <div class="row">
            <div class="col-md-10">
                <h1 class="display-4">Maintenance</h1>
            </div>
            <div class="col-md-2 mt-3">
                <a href="{% url 'orders:order-details' order.id %}"><button class="btn btn-secondary">Back to Order Details</button></a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                {% include 'core/success_message.html' %}
                {% if order.is_maintained %}
                    <div class="alert alert-success">
                        <strong>This order is completed</strong>
                    </div>
                {% else %}
                    <div class="alert alert-warning">
                        <strong>This order is under maintenance</strong>
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 text-right">
                <a href="{% url 'maintenance:contract-view' order.id %}"><button class="btn btn-primary">Maintenance Contracts</button></a>
                <form action="{% url 'maintenance:create-ticket' %}" style="display: inline">
                    {% csrf_token %}
                    <input type="hidden" name="id" value="{{ order.id }}">
                    <button class="btn btn-warning">Add Trouble Ticket</button>
                </form>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-12 mt-4">
                {% if not tickets %}
                <h5>Trouble Tickets</h5>
                <p>There are no trouble tickets yet</p>
                {% else %}
                    <div class="mt-3 text-center">
            <div class="legend">
                <div class="shape" style="background-color: #8c1717"></div> Very High
            </div>
            <div class="legend">
                <div class="shape" style="background-color: #f72e2e"></div> High
            </div>
            <div class="legend">
                <div class="shape" style="background-color: #ff7c7c"></div> Normal
            </div>
            <div class="legend">
                <div class="shape" style="background-color: #ffcece"></div> Low
            </div>

        </div>
                    <h5>Trouble Tickets</h5>
                    <table class="table" style="border: none">
                    <thead class="thead-dark">
                    <tr>
                        <th>Customer</th>
                        <th>Subject</th>
                        <th>Priority</th>
                        <th>Status</th>
                        <th>Date Created</th>
                        <th>Details</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for ticket in tickets %}
                        {% if ticket.priority == 'Low' %}
                        <tr style="background-color: #ffcece" class="ticket">
                            <td>{{ ticket.order.customer.company_name }}</td>
                            <td>{{ ticket.subject }}</td>
                            <td>{{ ticket.priority }}</td>
                            <td>{{ ticket.status }}</td>
                            <td>{{ ticket.date_created }}</td>
                            <td>
                                <form action="{% url 'maintenance:view-ticket' %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="id" value="{{ order.id }}">
                                    <input type="hidden" name="ticket" value="{{ ticket.id }}">
                                    <input type="submit" value="View">
                                </form>
                            </td>
                        </tr>
                        {% elif ticket.priority == 'Normal' %}
                        <tr style="background-color: #ff7c7c" class="ticket">
                            <td>{{ ticket.order.customer.company_name }}</td>
                            <td>{{ ticket.subject }}</td>
                            <td>{{ ticket.priority }}</td>
                            <td>{{ ticket.status }}</td>
                            <td>{{ ticket.date_created }}</td>
                            <td>
                                <form action="{% url 'maintenance:view-ticket' %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="id" value="{{ order.id }}">
                                    <input type="hidden" name="ticket" value="{{ ticket.id }}">
                                    <input type="submit" value="View">
                                </form>
                            </td>
                        </tr>
                        {% elif ticket.priority == 'High' %}
                        <tr style="background-color: #f72e2e; color: white" class="ticket">
                            <td>{{ ticket.order.customer.company_name }}</td>
                            <td>{{ ticket.subject }}</td>
                            <td>{{ ticket.priority }}</td>
                            <td>{{ ticket.status }}</td>
                            <td>{{ ticket.date_created }}</td>
                            <td>
                                <form action="{% url 'maintenance:view-ticket' %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="id" value="{{ order.id }}">
                                    <input type="hidden" name="ticket" value="{{ ticket.id }}">
                                    <input type="submit" value="View">
                                </form>
                            </td>
                        </tr>
                        {% elif ticket.priority == 'Very High' %}
                        <tr style="background-color: #8c1717; color: white" class="ticket">
                            <td>{{ ticket.order.customer.company_name }}</td>
                            <td>{{ ticket.subject }}</td>
                            <td>{{ ticket.priority }}</td>
                            <td>{{ ticket.status }}</td>
                            <td>{{ ticket.date_created }}</td>
                            <td>
                                <form action="{% url 'maintenance:view-ticket' %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="id" value="{{ order.id }}">
                                    <input type="hidden" name="ticket" value="{{ ticket.id }}">
                                    <input type="submit" value="View">
                                </form>
                            </td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                    </table>
                {% endif %}
            </div>
        </div>

    </div>
</body>
</html>