<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order {{ order.id }} - Accreditation</title>

    {% load static %}
    {% include 'bootstrap.html' %}
    {% include 'core/navbar.html' %}

    <script src="{% static 'js/base_orders.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/orders.css' %}">
</head>
<body>
    <div class="container" style="margin-top: 100px;">
        <div class="row">
            <div class="col-md-10">
                <h1 class="display-4">Accreditation</h1>
            </div>
            <div class="col-md-2 mt-3">
                <a href="{% url 'orders:order-details' order.id %}"><button class="btn btn-secondary">Back to Order Details</button></a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                {% if order.is_accredited %}
                    <div class="alert alert-success">
                        <strong>This customer had already received the accreditation files</strong>
                    </div>
                {% else %}
                    <div class="alert alert-warning">
                        <strong>This customer has not yet received the accreditation files</strong>
                    </div>
                {% endif %}
            </div>
        </div>

        {% if messages  %}
            <div class="alert alert-success">
                {% for message in messages %}
                    <strong>{{ message }}</strong>
                {% endfor %}
            </div>
        {% endif %}

        <div class="row">
            <div class="col-md-7">
                <h4>Accreditation Documents</h4>
                <table class="table table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th>Document</th>
                        <th>Status</th>
                        <th>Print</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Application for Vendor Accreditation</td>
                        {% if order.vendor_application == 'vendor_application' %}
                            <td><img src="{% static 'images/red-cross.svg' %}" height="20px"></td>
                            <td><a href="#"><button class="btn btn-primary" disabled>Print</button></a></td>
                        {% else %}
                            <td><img src="{% static 'images/green-check.png' %}" height="20px"></td>
                            <td><a href="#"><button class="btn btn-primary">Print</button></a></td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>BIR</td>
                        {% if order.bir_certificate == 'bir_certificate' %}
                            <td><img src="{% static 'images/red-cross.svg' %}" height="20px"></td>
                            <td><a href="#"><button class="btn btn-primary" disabled>Print</button></a></td>
                        {% else %}
                            <td><img src="{% static 'images/green-check.png' %}" height="20px"></td>
                            <td><a href="#"><button class="btn btn-primary">Print</button></a></td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>DOLE Certification</td>
                        {% if order.dole_certification == 'dole_certification' %}
                            <td><img src="{% static 'images/red-cross.svg' %}" height="20px"></td>
                            <td><a href="#"><button class="btn btn-primary" disabled>Print</button></a></td>
                        {% else %}
                            <td><img src="{% static 'images/green-check.png' %}" height="20px"></td>
                            <td><a href="#"><button class="btn btn-primary">Print</button></a></td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>Organizational Chart</td>
                        {% if order.org_chart == 'org_chart' %}
                            <td><img src="{% static 'images/red-cross.svg' %}" height="20px"></td>
                            <td><a href="#"><button class="btn btn-primary" disabled>Print</button></a></td>
                        {% else %}
                            <td><img src="{% static 'images/green-check.png' %}" height="20px"></td>
                            <td><a href="#"><button class="btn btn-primary">Print</button></a></td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>SEC Registration</td>
                        {% if order.sec_registration_form == 'sec_registration_form' %}
                            <td><img src="{% static 'images/red-cross.svg' %}" height="20px"></td>
                            <td><a href="#"><button class="btn btn-primary" disabled>Print</button></a></td>
                        {% else %}
                            <td><img src="{% static 'images/green-check.png' %}" height="20px"></td>
                            <td><a href="#"><button class="btn btn-primary">Print</button></a></td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>SSS</td>
                        {% if order.sss_certificate == 'sss_certificate' %}
                            <td><img src="{% static 'images/red-cross.svg' %}" height="20px"></td>
                            <td><a href="#"><button class="btn btn-primary" disabled>Print</button></a></td>
                        {% else %}
                            <td><img src="{% static 'images/green-check.png' %}" height="20px"></td>
                            <td><a href="#"><button class="btn btn-primary">Print</button></a></td>
                        {% endif %}
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-5">
                <h4>Tasks Involved in this Phase</h4>
                <table class="table table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th>Task</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><a href="{% url 'orders:upload_accreditation' order.id%}"><button class="btn btn-primary btn-block" >Upload Documents</button></a></td>
                        <td><img src="{% static 'images/red-cross.svg' %}" height="20px"> </td>
                    </tr>
                    <tr>
                        <td><a href="#"><button class="btn btn-primary btn-block" disabled>Set Schedule </button></a></td>
                        <td><img src="{% static 'images/red-cross.svg' %}" height="20px"> </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="text-center"><a href="#"><button class="btn btn-success btn-block">Done
                        </button></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>