<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order {{ order.id }} - Delivery</title>

    {% load static %}
    {% include 'bootstrap.html' %}
    {% include 'core/navbar.html' %}

    <script src="{% static 'js/base_orders.js' %}"></script>
    <script src="{% static 'js/delivery_phase.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/orders.css' %}">
</head>
<body>
    <p id="order-id" style="display: none">{{ order.id }}</p>
    <div class="container" style="margin-top: 100px;">
        <div class="row">
            <div class="col-md-10">
                <h1 class="display-4">Delivery</h1>
            </div>
            <div class="col-md-2 mt-3">
                <a href="{% url 'orders:order-details' order.id %}"><button class="btn btn-secondary">Back to Order Details</button></a>
            </div>
        </div>

        {% include 'core/success_message.html' %}

        <div class="row">
            <div class="col-md-12">
                {% if order.is_delivered %}
                    <div class="alert alert-success">
                        <strong>The products have already been delivered</strong>
                    </div>
                {% else %}
                    <div class="alert alert-warning">
                        <strong>The products are not yet delivered</strong>
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <h4>Tasks Involved for this Phase </h4>
            </div>
            <div class="col-md-4">
                <a><button class="btn btn-danger mb-2">Click this if there are defective products</button></a>
            </div>
                <table class="table table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th>Task</th>
                        <th class="text-center">Action</th>
                        <th class="text-center">Status</th>
                    </tr>
                    </thead>
                    <!-- TODO make it dynamic -->
                    <tbody>
                    <tr>
                        {% if not order.has_scheduled_delivery %}
                            <td>Schedule Delivery</td>
                            <td><a href="{% url 'orders:schedule-delivery' order.id %}"><button class="btn btn-primary btn-block">Go to this Task</button></a></td>
                            <td class="text-center"><img src="{% static 'images/red-cross.svg' %}" height="20px"></td>
                        {% else %}
                            <td>Schedule Delivery</td>
                            <td><a href="#"><button class="btn btn-primary btn-block" id="view-dp" data-target="#exampleModal" data-toggle="modal">View Scheduled People</button></a></td>
                            <td class="text-center"><img src="{% static 'images/green-check.png' %}" height="20px"></td>
                        {% endif %}
                    </tr>

                    <tr>
                        {% if order.deliveryreceipt_set.count == 0 %}
                            {% if order.has_scheduled_delivery %}
                                <td>Generate Delivery Receipt</td>
                                <td><a href="{% url 'orders:generate-dr' order.id 2 %}"><button class="btn btn-primary btn-block">Go to this Task</button></a></td>
                                <td class="text-center"><img src="{% static 'images/red-cross.svg' %}" height="20px"></td>
                            {% else %}
                                <td>Generate Delivery Receipt</td>
                                <td><a><button class="btn btn-primary btn-block disabled">Go to this Task</button></a></td>
                                <td class="text-center"><img src="{% static 'images/red-cross.svg' %}" height="20px"></td>
                            {% endif %}
                        {% else %}
                                <td>Generate Delivery Receipt</td>
                                <td><a href="{% url 'orders:dr-list' order.id %}"><button class="btn btn-primary btn-block">View Delivery Receipts</button></a></td>
                                <td class="text-center"><img src="{% static 'images/green-check.png' %}" height="20px"></td>
                        {% endif %}
                    </tr>

                    <tr>
                        <td>Generate Billing Statement for Downpayment</td>
                        {% if order.billingstatement_set.count == 1 %}
                            {% if order.deliveryreceipt_set.count > 0  %}
                                <td><a href="{% url 'orders:generate-bs' order.id order.contract.second_percentage 2 2 %}"><button class="btn btn-primary btn-block">Accomplish this Task</button></a></td>
                                <td class="text-center"><img src="{% static 'images/red-cross.svg' %}" height="20px"></td>
                            {% else %}
                                <td><a><button class="btn btn-primary btn-block disabled">Accomplish this Task</button></a></td>
                                <td class="text-center"><img src="{% static 'images/red-cross.svg' %}" height="20px"></td>
                            {% endif %}
                        {% else %}
                            <td><a href="{% url 'orders:bs-list' order.id %}"><button class="btn btn-primary btn-block">View Billing Statements</button></a></td>
                            <td class="text-center"><img src="{% static 'images/green-check.png' %}" height="20px"></td>
                        {% endif %}
                    </tr>

                    <tr>
                        <td>Generate Official Receipt for Downpayment</td>
                        {% if order.officialreceipt_set.count == 1 %}
                            {% if order.billingstatement_set.count > 1 %}
                                <td><a href="{% url 'orders:generate-or' order.id order.contract.second_percentage 2 %}"><button class="btn btn-primary btn-block">Accomplish this Task</button></a></td>
                                <td class="text-center"><img src="{% static 'images/red-cross.svg' %}" height="20px"></td>
                            {% else %}
                                <td><a><button class="btn btn-primary btn-block disabled">Accomplish this Task</button></></td>
                                <td class="text-center"><img src="{% static 'images/red-cross.svg' %}" height="20px"></td>
                            {% endif %}
                        {% else %}
                            <td><a href="{% url 'orders:or-list' order.id %}"><button class="btn btn-primary btn-block">View Official Receipts</button></a></td>
                            <td class="text-center"><img src="{% static 'images/green-check.png' %}" height="20px"></td>
                        {% endif %}
                    </tr>

                    </tbody>
                    <tr>
                        <td colspan="3"><a><button class="btn btn-success btn-block">Done </button></a></td>
                    </tr>
                </table>
            </div>
        </div>

    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Engineers Scheduled</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" id="modal-body">

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
</body>
</html>