<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Orders</title>

    {% load static %}
    {% include 'bootstrap.html' %}
    {% include 'core/navbar.html' %}

    <script src="{% static 'js/base_orders.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/orders.css' %}">
</head>
<body>
    <div class="container-fluid" style="margin-top: 100px;">
        <div class="row">
            <div class="col-sm-8">
                <h1 class="mt3">Orders</h1>
            </div>
            <div class="col-sm-4 mt-4">
                <button class="btn btn-success"><a href="{% url 'orders:add_order' %}">Add Order</a></button>
{#                <button class="btn btn-secondary"><a href="{% url 'products:categories' %}">Categories</a></button>#}
{#                <button class="btn btn-primary"><a href="{% url 'products:index' %}">Back to Products</a></button>#}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="input-group mt-3 mb-3">
                  <span class="input-group-addon" id="basic-addon1">Search</span>
                  <input type="text" class="form-control" placeholder="Search for anything related to orders" aria-label="Search" aria-describedby="basic-addon1">
                </div>
            </div>
        </div>


        {% if messages  %}
            <div class="alert alert-success">
                {% for message in messages %}
                    <strong>{{ message }}</strong>
                {% endfor %}
            </div>
        {% endif %}

        {% if not orders %}
            <p>There are no orders yet.</p>
        {% else %}
            <div class="row">
            {% for order in orders %}
                <div class="order-div">
                    <div class="row">
                        <div class="col-sm-4 customer-details">
                            <h3>{{ order.customer }}</h3>
                            <p>{{ order.customer.contact_first_name }} {{ order.customer.contact_last_name }}</p>
                            <p class="font-italic">{{ order.customer.email_address }}</p>
                            <p class="font-italic">{{ order.customer.contact_no }}</p>
                            <p>{{ order.customer.address }}</p>
                        </div>
                        <div class="col-sm-4">


                        </div>
                        <div class="col-sm-4">

                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>

        {% endif %}
    </div>
</body>
</html>