<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order {{ order.id }} - Installation</title>

    {% load static %}
    {% include 'bootstrap.html' %}
    {% include 'core/navbar.html' %}

    <script src="{% static 'js/base_orders.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/orders.css' %}">
</head>
<body>
    <div class="container" style="margin-top: 100px;">
        <div class="row">
            <div class="col-md-10">
                <h1 class="display-4">Installation</h1>
            </div>
            <div class="col-md-2 mt-3">
                <a href="{% url 'orders:order-details' order.id %}"><button class="btn btn-secondary">Back to Order Details</button></a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                {% include 'core/success_message.html' %}
                {% if order.is_installed %}
                    <div class="alert alert-success">
                        <strong>The products have already been installed</strong>
                    </div>
                {% else %}
                    <div class="alert alert-warning">
                        <strong>The products are not yet installed</strong>
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h4>Tasks Involved for this Phase</h4>
                <table class="table table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th>Task</th>
                        <th class="text-center">Action</th>
                        <th class="text-center">Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        {% if user_type == 'ENGINEER' or user_type == 'TECHNICAL' %}
                            {% if order.has_finished_project %}
                                <td>Finish Project</td>
                                <td><a href="{% url 'orders:view-project' order.id %}"><button class="btn btn-primary btn-block">Go to this Task</button></a></td>
                                <td class="text-center"><img src="{% static 'images/green-check.png' %}" height="20px"></td>
                            {% else %}
                                <td>Finish Project</td>
                                <td><a href="{% url 'orders:view-project' order.id %}"><button class="btn btn-primary btn-block">Go to this Task</button></a></td>
                                <td class="text-center"><img src="{% static 'images/red-cross.svg' %}" height="20px"></td>
                            {% endif %}
                        {% else %}
                            {% if order.has_finished_project %}
                                <td>Finish Project</td>
                                <td class="text-danger">You do not have authorized access to this task</td>
                                <td class="text-center"><img src="{% static 'images/green-check.png' %}" height="20px"></td>
                            {% else %}
                                <td>Finish Project</td>
                                <td class="text-danger">You do not have authorized access to this task</td>
                                <td class="text-center"><img src="{% static 'images/red-cross.svg' %}" height="20px"></td>
                            {% endif %}
                        {% endif %}
                    </tr>

                    <tr>
                        {% if user_type == 'TECHNICAL' %}
                            {% if not order.has_letter_of_acceptance %}
                                {% if order.has_finished_project %}
                                    <td>Generate Letter of Acceptance</td>
                                    <td><a href="{% url 'orders:generate-letter' order.id %}"><button class="btn btn-primary btn-block">Go to this Task</button></a></td>
                                    <td class="text-center"><img src="{% static 'images/red-cross.svg' %}" height="20px"></td>
                                {% else %}
                                    <td>Generate Letter of Acceptance</td>
                                    <td><a href="#"><button class="btn btn-primary btn-block disabled">Go to this Task</button></a></td>
                                    <td class="text-center"><img src="{% static 'images/red-cross.svg' %}" height="20px"></td>
                                {% endif %}
                            {% else %}
                                <td>View Letter of Acceptance</td>
                                <td><a href="{% url 'orders:acceptance-letter' order.id %}" target="_blank"><button class="btn btn-primary btn-block">View Letter of Acceptance</button></a></td>
                                <td class="text-center"><img src="{% static 'images/green-check.png' %}" height="20px"></td>
                            {% endif %}
                        {% else %}
                            {% if not order.has_letter_of_acceptance %}
                                {% if order.has_finished_project %}
                                    <td>Generate Letter of Acceptance</td>
                                    <td class="text-danger">You do not have authorized access for this task</td>
                                    <td class="text-center"><img src="{% static 'images/red-cross.svg' %}" height="20px"></td>
                                {% else %}
                                    <td>Generate Letter of Acceptance</td>
                                    <td class="text-danger">You do not have authorized access for this task</td>
                                    <td class="text-center"><img src="{% static 'images/red-cross.svg' %}" height="20px"></td>
                                {% endif %}
                            {% else %}
                                <td>View Letter of Acceptance</td>
                                <td class="text-danger">You do not have authorized access for this task</td>
                                <td class="text-center"><img src="{% static 'images/green-check.png' %}" height="20px"></td>
                            {% endif %}
                        {% endif %}
                    </tr>

                    <tr>
                        {% if user_type == 'TECHNICAL' %}
                            {% if not order.has_certificate %}
                                {% if order.has_letter_of_acceptance %}
                                    <td>Generate Certificate of Warranty</td>
                                    <td><a href="{% url 'orders:generate-certificate' order.id %}"><button class="btn btn-primary btn-block">Go to this Task</button></a></td>
                                    <td class="text-center"><img src="{% static 'images/red-cross.svg' %}" height="20px"></td>
                                {% else %}
                                    <td>Generate Certificate of Warranty</td>
                                    <td><a href="#"><button class="btn btn-primary btn-block disabled">Go to this Task</button></a></td>
                                    <td class="text-center"><img src="{% static 'images/red-cross.svg' %}" height="20px"></td>
                                {% endif %}
                            {% else %}
                                <td>View Certificate of Warranty</td>
                                <td><a href="{% url 'orders:certificate' order.id %}" target="_blank"><button class="btn btn-primary btn-block">View Certificate of Warranty</button></a></td>
                                <td class="text-center"><img src="{% static 'images/green-check.png' %}" height="20px"></td>
                            {% endif %}
                        {% else %}
                           {% if not order.has_certificate %}
                                {% if order.has_letter_of_acceptance %}
                                    <td>Generate Certificate of Warranty</td>
                                    <td class="text-danger">You do not have authorized access for this task</td>
                                    <td class="text-center"><img src="{% static 'images/red-cross.svg' %}" height="20px"></td>
                                {% else %}
                                    <td>Generate Certificate of Warranty</td>
                                    <td class="text-danger">You do not have authorized access for this task</td>
                                    <td class="text-center"><img src="{% static 'images/red-cross.svg' %}" height="20px"></td>
                                {% endif %}
                            {% else %}
                                <td>View Certificate of Warranty</td>
                                <td class="text-danger">You do not have authorized access for this task</td>
                                <td class="text-center"><img src="{% static 'images/green-check.png' %}" height="20px"></td>
                            {% endif %}

                        {% endif %}
                    </tr>

                    <tr>
                        <td>Generate Billing Statement for Downpayment</td>
                        {% if user_type == 'Accounting' or user_type == 'ACCOUNTING' %}
                            {% if order.billingstatement_set.count == 2 %}
                                {% if order.has_certificate  %}
                                    <td><a href="{% url 'orders:generate-bs' order.id order.contract.third_percentage 3 3  %}"><button class="btn btn-primary btn-block">Accomplish this Task</button></a></td>
                                    <td class="text-center"><img src="{% static 'images/red-cross.svg' %}" height="20px"></td>
                                {% else %}
                                    <td><a><button class="btn btn-primary btn-block disabled">Accomplish this Task</button></a></td>
                                    <td class="text-center"><img src="{% static 'images/red-cross.svg' %}" height="20px"></td>
                                {% endif %}
                            {% else %}
                                <td><a href="{% url 'orders:bs-list' order.id %}"><button class="btn btn-primary btn-block">View Billing Statements</button></a></td>
                                <td class="text-center"><img src="{% static 'images/green-check.png' %}" height="20px"></td>
                            {% endif %}
                        {% else %}
                            {% if order.billingstatement_set.count == 2 %}
                                {% if order.has_certificate  %}
                                    <td class="text-danger">You do not have authorized access for this task</td>
                                    <td class="text-center"><img src="{% static 'images/red-cross.svg' %}" height="20px"></td>
                                {% else %}
                                    <td class="text-danger">You do not have authorized access for this task</td>
                                    <td class="text-center"><img src="{% static 'images/red-cross.svg' %}" height="20px"></td>
                                {% endif %}
                            {% else %}
                                <td class="text-danger">You do not have authorized access for this task</td>
                                <td class="text-center"><img src="{% static 'images/green-check.png' %}" height="20px"></td>
                            {% endif %}
                        {% endif %}
                    </tr>

                    <tr>
                        <td>Generate Official Receipt for Downpayment</td>
                        {% if user_type == 'ACCOUNTING' or user_type == 'Accounting' %}
                            {% if order.officialreceipt_set.count == 2 %}
                                {% if order.billingstatement_set.count > 2 %}
                                    <td><a href="{% url 'orders:generate-or' order.id order.contract.third_percentage 3 %}"><button class="btn btn-primary btn-block">Accomplish this Task</button></a></td>
                                    <td class="text-center"><img src="{% static 'images/red-cross.svg' %}" height="20px"></td>
                                {% else %}
                                    <td><a><button class="btn btn-primary btn-block disabled">Accomplish this Task</button></a></td>
                                    <td class="text-center"><img src="{% static 'images/red-cross.svg' %}" height="20px"></td>
                                {% endif %}
                            {% else %}
                                <td><a href="{% url 'orders:or-list' order.id %}"><button class="btn btn-primary btn-block">View Official Receipts</button></a></td>
                                <td class="text-center"><img src="{% static 'images/green-check.png' %}" height="20px"></td>
                            {% endif %}
                        {% else %}
                            {% if order.officialreceipt_set.count == 2 %}
                                {% if order.billingstatement_set.count > 2 %}
                                    <td class="text-danger">You do not have authorized access to this task</td>
                                    <td class="text-center"><img src="{% static 'images/red-cross.svg' %}" height="20px"></td>
                                {% else %}
                                    <td class="text-danger">You do not have authorized access to this task</td>
                                    <td class="text-center"><img src="{% static 'images/red-cross.svg' %}" height="20px"></td>
                                {% endif %}
                            {% else %}
                                <td class="text-danger">You do not have authorized access to this task</td>
                                <td class="text-center"><img src="{% static 'images/green-check.png' %}" height="20px"></td>
                            {% endif %}
                        {% endif %}
                    </tr>

                    <tr>
                        <td>Generate Pull-out Slip</td>
                        {% if user_type == 'TECHNICAL' or user_type == 'Technical' %}
                            {% if not order.has_pullout %}
                                {% if order.officialreceipt_set.count > 2 %}
                                    <td class="text-center"><img src="{% static 'images/red-cross.svg' %}" height="20px"></td>
                                {% else %}
                                    <td><a><button class="btn btn-primary btn-block disabled">Accomplish this Task</button></a></td>
                                    <td class="text-center"><img src="{% static 'images/red-cross.svg' %}" height="20px"></td>
                                {% endif %}
                            {% else %}
                                <td><a href="{% url 'orders:pull-out-slip' order.id %}" target="_blank"><button class="btn btn-primary btn-block">View Pull-out Slip</button></a></td>
                                <td class="text-center"><img src="{% static 'images/green-check.png' %}" height="20px"></td>
                            {% endif %}
                        {% else %}
                            {% if not order.has_pullout %}
                                {% if order.officialreceipt_set.count > 2 %}
                                    <td class="text-danger">You do not have authorized access to this task</td>
                                    <td class="text-center"><img src="{% static 'images/red-cross.svg' %}" height="20px"></td>
                                {% else %}
                                    <td class="text-danger">You do not have authorized access to this task</td>
                                    <td class="text-center"><img src="{% static 'images/red-cross.svg' %}" height="20px"></td>
                                {% endif %}
                            {% else %}
                                <td class="text-danger">You do not have authorized access to this task</td>
                                <td class="text-center"><img src="{% static 'images/green-check.png' %}" height="20px"></td>
                            {% endif %}
                        {% endif %}
                    </tr>

                    </tbody>
                    <tr>
                        <td colspan="3"><a><button class="btn btn-success btn-block">Done </button></a></td>
                    </tr>
                </table>
            </div>
        </div>

    </div>
</body>
</html>