<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order {{ order.id }} - Maintenance</title>

    {% load static %}
    {% include 'bootstrap.html' %}
    {% include 'core/navbar.html' %}

    <script src="{% static 'js/base_orders.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/orders.css' %}">
</head>
<body>
    <div class="container" style="margin-top: 100px;">
        <div class="row">
            <div class="col-md-10">
                <h1 class="display-4">Maintenance</h1>
            </div>
            <div class="col-md-2 mt-3">
                <a href="{% url 'orders:order-details' order.id %}"><button class="btn btn-secondary">Back to Order Details</button></a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                {% if order.is_maintained %}
                    <div class="alert alert-success">
                        <strong>This order is completed</strong>
                    </div>
                {% else %}
                    <div class="alert alert-warning">
                        <strong>This order is under maintenance</strong>
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col-md-7">
                <h4>Trouble Reports</h4>

            </div>
            <div class="col-md-5">
                <a><button class="btn btn-primary">Maintenance Contracts</button></a>
                <a><button class="btn btn-warning">Add Trouble Report</button></a>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-12">
{#                <table class="table table-striped">#}
{#                    <thead class="thead-dark">#}
{#                    <tr>#}
{#                        <th>Task</th>#}
{#                        <th class="text-center">Action</th>#}
{#                        <th class="text-center">Status</th>#}
{#                    </tr>#}
{#                    </thead>#}
{#                    <!-- TODO make it dynamic -->#}
{#                    <tbody>#}
{#                    <tr>#}
{#                        <td>Finish Project</td>#}
{#                        <td><a><button class="btn btn-primary btn-block">Go to this Task</button></a></td>#}
{#                        <td class="text-center"><img src="{% static 'images/red-cross.svg' %}" height="20px"></td>#}
{#                    </tr>#}
{##}
{#                    <tr>#}
{#                        <td>Generate Letter of Acceptance</td>#}
{#                        <td><a><button class="btn btn-primary btn-block">Go to this Task</button></a></td>#}
{#                        <td class="text-center"><img src="{% static 'images/red-cross.svg' %}" height="20px"></td>#}
{#                    </tr>#}
{##}
{#                    <tr>#}
{#                        <td>Generate Certificate of Warranty</td>#}
{#                        <td><a><button class="btn btn-primary btn-block">Go to this Task</button></a></td>#}
{#                        <td class="text-center"><img src="{% static 'images/red-cross.svg' %}" height="20px"></td>#}
{#                    </tr>#}
{##}
{#                    <tr>#}
{#                        <td>Collect Remaining Payment</td>#}
{#                        <td><a><button class="btn btn-primary btn-block">Go to this Task</button></a></td>#}
{#                        <td class="text-center"><img src="{% static 'images/red-cross.svg' %}" height="20px"></td>#}
{#                    </tr>#}
{##}
{#                    <tr>#}
{#                        <td>Generate Pull-out Slip</td>#}
{#                        <td><a><button class="btn btn-primary btn-block">Go to this Task</button></a></td>#}
{#                        <td class="text-center"><img src="{% static 'images/red-cross.svg' %}" height="20px"></td>#}
{#                    </tr>#}
{##}
{#                    </tbody>#}
{#                    <tr>#}
{#                        <td colspan="3"><a><button class="btn btn-success btn-block">Done </button></a></td>#}
{#                    </tr>#}
{#                </table>#}

                <p>There are no trouble reports yet</p>
            </div>
        </div>

    </div>
</body>
</html>