<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order {{ order.id }}</title>

    {% load static %}
    {% include 'bootstrap.html' %}
    {% include 'core/navbar.html' %}

    <script src="{% static 'js/base_orders.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/orders.css' %}">
</head>
<body>
    <div class="container" style="margin-top: 100px;">
        <div class="row">
            <div class="col-md-10">
                <h1 class="display-4">{{ order.customer.company_name }}</h1>
            </div>

            <div class="col-md-2 mt-4">
                <a href="{% url 'orders:index' %}"><button class="btn btn-secondary">Back to Orders</button></a>
            </div>
        </div>

        {% if order.is_pending %}
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-warning">
                        <strong>This order is not yet final</strong>
                    </div>
                </div>
            </div>

        {% endif %}

        <div class="row">
            <div class="col-md-7">
                <h4>Order Status</h4>
                <table class="table table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th>Phase</th>
                        <th class="text-center">Status</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
{#                    <tr>#}
{#                        <td>Project Requirements</td>#}
{#                        {% if order.has_project_requirements %}#}
{#                            <td class="text-center"><img src="{% static 'images/green-check.png' %}" height="20px"></td>#}
{#                            <td><a href="{% url 'orders:project_requirements' order.id %}"><button class="btn btn-primary">Go to this phase</button></a></td>#}
{#                        {% else %}#}
{#                            <td class="text-center"><img src="{% static 'images/red-cross.svg' %}" height="20px"></td>#}
{##}
{#                        <td><a href="{% url 'orders:project_requirements' order.id %}"><button class="btn btn-primary">Go to this phase</button></a></td>#}
{#                        {% endif %}#}
{#                    </tr>#}
                    <tr>
                        <td>Purchase Order / Contract</td>
                        {% if order.has_contract_done %}
                            <td class="text-center"><img src="{% static 'images/green-check.png' %}" height="20px"></td>
                            <td><a href="{% url 'orders:contract' order.id %}"><button class="btn btn-primary">Go to this phase</button></a></td>
                        {% else %}
                            <td class="text-center"><img src="{% static 'images/red-cross.svg' %}" height="20px"></td>
                            <td><a href="{% url 'orders:contract' order.id %}"><button class="btn btn-primary">Go to this phase</button></a></td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>Product Retrieval from Suppliers</td>
                        {% if order.has_retrieved_supplies %}
                            <td class="text-center"><img src="{% static 'images/green-check.png' %}" height="20px"></td>
                            <td><a href="{% url 'orders:product_retrieval' order.id %}"><button class="btn btn-primary">Go to this phase</button></a></td>
                        {% else %}
                            <td class="text-center"><img src="{% static 'images/red-cross.svg' %}" height="20px"></td>

                            {% if order.has_contract_done %}
                                <td><a href="{% url 'orders:product_retrieval' order.id %}"><button class="btn btn-primary">Go to this phase</button></a></td>
                            {% else %}
                                <td><a href="#"><button class="btn btn-primary" disabled>Go to this phase</button></a></td>
                            {% endif %}
                        {% endif %}
                    </tr>
                    <tr>
                        <td>Delivery</td>
                        {% if order.is_delivered %}
                            <td class="text-center"><img src="{% static 'images/green-check.png' %}" height="20px"></td>
                            <td><a href="{% url 'orders:delivery' order.id %}"><button class="btn btn-primary">Go to this phase</button></a></td>
                        {% else %}
                            <td class="text-center"><img src="{% static 'images/red-cross.svg' %}" height="20px"></td>

                            {% if order.has_retrieved_supplies %}
                                <td><a href="{% url 'orders:delivery' order.id %}"><button class="btn btn-primary">Go to this phase</button></a></td>
                            {% else %}
                                <td><a href="#"><button class="btn btn-primary" disabled>Go to this phase</button></a></td>
                            {% endif %}
                        {% endif %}
                    </tr>
                    <tr>
                        <td>Installation</td>
                        {% if order.is_installed %}
                            <td class="text-center"><img src="{% static 'images/green-check.png' %}" height="20px"></td>
                            <td><a href="{% url 'orders:installation' order.id %}"><button class="btn btn-primary">Go to this phase</button></a></td>
                        {% else %}
                            <td class="text-center"><img src="{% static 'images/red-cross.svg' %}" height="20px"></td>

                            {% if order.is_delivered %}
                                <td><a href="{% url 'orders:installation' order.id %}"><button class="btn btn-primary">Go to this phase</button></a></td>
                            {% else %}
                                <td><a href="#"><button class="btn btn-primary" disabled>Go to this phase</button></a></td>
                            {% endif %}
                        {% endif %}
                    </tr>
                    <tr>
                        <td>Maintenance</td>
                        {% if order.is_maintained %}
                            <td class="text-center"><img src="{% static 'images/green-check.png' %}" height="20px"></td>
                            <td><a href="{% url 'orders:maintenance' order.id %}"><button class="btn btn-primary">Go to this phase</button></a></td>
                        {% else %}
                            <td class="text-center"><img src="{% static 'images/red-cross.svg' %}" height="20px"></td>

                            {% if order.is_installed %}
                                <td><a href="{% url 'orders:maintenance' order.id %}"><button class="btn btn-primary">Go to this phase</button></a></td>
                            {% else %}
                                <td><a href="#"><button class="btn btn-primary" disabled>Go to this phase</button></a></td>
                            {% endif %}
                        {% endif %}
                    </tr>
                    </tbody>

                </table>
            </div>
            <div class="col-md-5">
                <h4>Customer Details</h4>
                <ul class="list-group">
                  <li class="list-group-item">{{ order.customer.company_name }}</li>
                  <li class="list-group-item">{{ order.customer.contact_first_name }} {{ order.customer.contact_last_name }}</li>
                  <li class="list-group-item">{{ order.customer.contact_no }}</li>
                  <li class="list-group-item">{{ order.customer.email_address }}</li>
                  <li class="list-group-item">{{ order.customer.address }}</li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>