<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order {{ order.id }} - Project Overview</title>

    {% load static %}
    {% include 'bootstrap.html' %}
    {% include 'core/navbar.html' %}

    <!-- FULL CALENDAR -->
    <link rel="stylesheet" href="{% static 'css/fullcalendar.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/fullcalendar.print.min.css' %}" media="print">

    <script src="{% static 'js/moment.min.js' %}"></script>
    <script src="{% static 'js/fullcalendar.min.js' %}"></script>

    <script src="{% static 'js/base_orders.js' %}"></script>
    <script src="{% static 'js/project.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/orders.css' %}">
</head>
<body>
    <p id="order-no" style="display: none;">{{ order.id }}</p>
    <div class="container" style="margin-top: 100px;">
        <div class="row">
            <div class="col-md-10">
                <h1 class="display-4">Project Overview</h1>
            </div>
            <div class="col-md-2 mt-4">
                <a href="{% url 'orders:installation' order.id %}"><button class="btn btn-secondary">Back to Installation</button></a>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-7">
                <h3>Progress Reports</h3>
                <table class="table table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th>Date</th>
                        <th>Action</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- TODO make dynamic -->
                    {% for day in duration %}
                        {% if day.weekday == 6 %}
                            <tr>
                                <td colspan="3">
                                    <strong>
                                        <p class="text-danger text-center">DAY-OFF SUNDAY!</p>
                                    </strong>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td>{{ day }}</td>
                                <td><a><button class="btn btn-primary">Generate Progress Report</button></a></td>
                                <td class="text-center"><img src="{% static 'images/red-cross.svg' %}" height="20px"></td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-md-5">
                <div id="calendar" class="mb-4">

                </div>

                <button class="btn btn-block btn-success mt-5">View Progress Reports</button>
                <div class="mt-5">
                    <h3>Involved People</h3>
                    <ul class="list-item">
                        {% for p in people %}
                            <li class="list-group-item">{{ p.first_name }} {{ p.last_name }}</li>
                        {% endfor %}
                    </ul>
                </div>

            </div>
        </div>
    </div>
</body>
</html>