.main-menu {
    height: 200px;
    width: 250px;
    display: inline-block;
    margin: 10px;
    background-color: #007bff;
    box-shadow: 5px 5px 5px #888888;
}

.container {
    text-align: center;
}

.main-menu p {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.4rem;
}


